* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1250px;
  margin: 0 auto !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAV SECTION */

nav {
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
}

.nav-item {
  border-radius: 10px;
  margin-left: 5px;
}

.nav-item:hover {
  background-color: rgb(250, 237, 221);
}

.nav-item .active {
  border-radius: 10px;
  background-color: rgb(250, 237, 221);
}

.social-media,
.social-media-hero {
  width: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.social-media a,
.social-media-hero a {
  display: block;
  /* box-shadow: 0px 0px 2px rgba(86, 85, 85, 0.676); */
  color: #6c63ff;
  font-size: 22px;

}

.hero {
  width: "100%";
}

#mobile {
  display: none;
}

.carrousel-image {
  height: 92vh;
}

.carousel-text-container {
  height: auto !important;
  background-color: rgba(0, 0, 0, 0.59) !important;
  border-radius: 12px;
}

.carousel-text-container p {
  background-color: black;
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;
}

.hero-skills-logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.hero-skills-logos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-skills-logos img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 3px 2px 2px rgba(86, 85, 85, 0.676);
  
}

.hero-skills-logos div span {
  background-color: white;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 3px 2px 2px rgba(243, 241, 241, 0.676);
}

/* Hero Slide 2 */

.hero-best-practices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.hero-best-practices p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px rgba(243, 241, 241, 0.676);
}
/* .hero-2-text,
/* .hero-2-text p {
  background-color: white !important;
  color: black !important;
} */ 

.hero-best-practices {
  display: flex;
}
.skills {
  width: 100%;
  background-color: #dee2e6;
  margin: auto;
  padding-top: 2rem;
}

.skills-container {
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

.skill-item {
  width: 100px;
  height: 100px;
}

/* PROJECTS SECTION */

.projects {
  width: 100%;
  padding: 2rem;
}

.projects-container {
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project-item {
  width: 30%;
}

.web-project-card {
  width: 48%;
}

.project-item img {
  width: 100%;
  height: 400px;
}

.project-item .card-body {
  display: flex;
  flex-direction: column;
}

.project-item button {
  margin: auto;
  background-color: rgb(160, 83, 233);
  color: white;
  font-weight: bold;
  box-shadow: 3px 4px 4px rgba(97, 97, 97, 0.676);
}

.project-item button:hover {
  background-color: rgb(224, 147, 205) !important;
  color: rgb(64, 63, 63) !important;
}

/* EXPERIENCE SECTION */

.experience {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
}

.exp-texts {
  margin: 0 !important;
  padding: 0 !important;
}

.exp-ativities-title {
  margin-top: 1rem;
}

.exp-years {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 16px;
}

.education {
  margin-top: 2rem;
}

.education-list {
  width: 60%;
  margin: auto;
}

.edu-info {
  margin: 0 !important;
  padding: 0 !important;
}

.contact {
  position: relative;   /* necesario para posicionar texto encima */
  /* display: inline-block; */
  margin-top: 2rem;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.contact-image {
  width: 100%;
}

.contact-info {
  position: absolute;
  top: 50%;             /* centrado vertical */
  left: 50%;            /* centrado horizontal */
  transform: translate(-50%, -50%);  /* centro perfecto */
  padding: 3rem;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 6px 6px rgba(0,0,0,1);
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
}

/* Web Project */

.webp-container {
  padding: 1rem;
}

/* .webp-video-container {
  width: 60%;
  border-radius: 15px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
} */

.webp-video {
  width: 60%;
  border-radius: 15px;
}

.webp-description {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  text-align: left;
}

/* Mobile Project */
.mbp-container {
  max-width: 90%;
  height: 85vh;
  margin: auto;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.mbp-title, .webp-title {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
}

.mbp-body {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 1rem;
  height: 100%;
  max-height: 590px;
  overflow: hidden;
  min-height: 0;
}

.mbp-video {
  width: 90%;
  max-width: 320px;
  max-height: 100%;
  min-height: 0;
}

.mbp-video .video video {
  display: block;
  width: 100%;
  max-width: 300px;
  max-height: 80vh; 
  margin: auto;
  object-fit: contain;
  border-radius: 20px !important;
  object-fit: fill; 
}

.mbp-description {
  max-height: inherit;
  overflow-y: auto;
  padding: 0 0.5rem 0 0;
}

.mbp-description p strong, .webp-description p strong {
  display: inline-block;
  margin-left: 5px;
}

.footer {
  text-align: center; 
  padding: 20px;
  font-size: 14px;
}

/* General Styles */
h2.subtitles {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: '3A2727';
  font-weight: bold;
}

/* Tablets */
@media (max-width: 990px) {

  /* NAV */
  .nav-item {
    padding-left: 0.5rem !important;
  }

  .nav-item .active {
    padding-left: 0.5rem !important;
  }

  .social-media {
    display: none;
  }

  .social-media-hero {
    width: 20%;
  }

  /* PROJECTS */
  .project-item {
    flex: 0 0 48%;
  }

  /* web project */
  .webp-video {
    width: 90%;
    border-radius: 15px;
  }
}

/* Teléfonos */
@media (max-width: 769px) {

  /* HERO */
  #mobile {
    display: block;
  }
  #web {
    display: none;
  }

  .mobile-hero-container {
    text-align: center;
  }

  .social-media-hero {
    width: 30%;
  }

  .social-media-hero i {
    font-size: 24px;
  }

  .webp-description {
    width: 100%;
  }

  .mobile-hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: black;
    color: white;
  }

  .mobile-hero-container p {
    width: 80%;
    text-align: center;
  }

  .hero-skills-logos {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* Ancho del scrollbar */
  .hero-skills-logos::-webkit-scrollbar,
  .projects-container::-webkit-scrollbar {
    height: 4px; /* horizontal */
    width: 8px;  /* vertical */
  }

  /* Track (fondo del scroll) */
  .hero-skills-logos::-webkit-scrollbar-track,
  .projects-container::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }

  /* Thumb (la parte que se mueve) */
  .hero-skills-logos::-webkit-scrollbar-thumb,
  .projects-container::-webkit-scrollbar-thumb {
    background-color: #6c63ff;
    border-radius: 10px;
  }

  .hero-skills-logos div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .hero-skills-logos div img {
    max-width: 70px;
    max-height: 70px;
  }

  .mobile-hero-container * {
    align-self: center;
  }
  

  /* PROJECTS */
  .projects-container {
    max-width: 100%;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }

  .project-item {
    flex: 0 0 80%;
  }

  .project-item img {
    height: 200px;
  }

  /* web project */
  .webp-video {
    width: 100%;
    border-radius: 15px;
  }

  /* mobile project */
  .mbp-container {
    height: auto;
  }
  .mbp-body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    max-height: none;
  }

  .mbp-body > * {
    flex-shrink: 1;
  }

  .mbp-title, .webp-title, .mbp-description {
    position: inherit;
  }

  .mbp-description {
    max-height: none;
    overflow-y: visible;
    padding: 0 0.5rem 0 0;
  }

  .mbp-video {
    width: 100%;
  }

  .mbp-video .video video {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    border-radius: 20px !important;
    /* object-fit: fill;  */
  }

  /* EXPERIENCE SECTION */

  .experience {
    width: 100%;
  }

  /* EDUCATION SECTION */
  .education-list {
    width: 100%;
    margin: auto;
  }
}
